@import "../../vars.scss";

.renderer-container {
    background-color: $renderer;
    height: 100%;

    .email-body {

    }

    .rendered-row {
        border: 2px solid black;
        color: white;
        min-height: 50px;
        background-color: black;
    }
    
    .rendered-row:hover {
        border: 2px solid $secondary;
        cursor: pointer;
    }
    
    .rendered-component:hover {
        border: 2px solid $secondary;
        cursor: pointer;
    }

    .grid-1 {

    }

    .grid-2 {
        
    }

    .grid-3 {
        
    }
}