@import "../../vars.scss";

.sidebar-container {
    padding: 10px;
    background-color: $dark;
    color: $white;
    height: 100%;
    box-sizing: border-box;

    i {
        float: right;
        padding: 4px;
    }

    h4 {
        cursor: pointer;
    }
}