@import "../../vars.scss";

.dashboard-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar renderer";

    app-sidebar {
        grid-area: sidebar;
    }

    app-color-palette {
        grid-area: palette;
    }

    app-renderer {
        grid-area: renderer;
    }
}