<div class="home-container">
    <h1>Email Builder</h1>
    <div>
        <h2>Create and Send beautiful Emails</h2>
        <p>Drag and Drop email designer</p>
    </div>
    <div class="homeBox">
        <h3>Basic</h3>
        <ul>
            <li>5 Email Templates</li>
            <li>100 Emails per month</li>
            <li><s>Access our email editor</s></li>
            <li><s>Compatible with 10+ Email clients</s></li>
        </ul>
        <button class="btn">Start a Free Trial</button>
    </div>
    <div class="homeBox">
        <h3>Premium</h3>
        <ul>
            <li>500+ Email Templates</li>
            <li>Send unlimited Emails</li>
            <li>Access our Email editor</li>
            <li>Compatible with 10+ Email clients</li>
        </ul>
        <button class="btn">€0.99 for 15 days</button>
    </div>
</div>
