@import "../../vars.scss";

.homeBox{
    width: 245px;
    border: 2px solid $secondary;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 6px;
    float: left;
    background-color: $white;
    position: relative;
    left: 650px;
    top: 100px;
    
}
button{
    position: relative;
    left: 45px;
}
h3{
    text-align: center;
}

// .homeBox{
//     width: 20%;
//     height: 400px;
//     padding-left: 10%;
//     float: left;
//     background-color: $white;
// }

