@import "../../vars.scss";

.home-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;

    .homeBox{
        width: 245px;
        border: 2px solid $secondary;
        border-radius: 5px;
        margin: 0 auto;
        padding: 6px;
        float: left;
        background-color: $white;
        position: relative;
        height: 266px;   
    }

    button{
        position: relative;
        left: 45px;
    }

    h3{
        text-align: center;
    }
}

